<div class="wrapper" style="height: 600px;">
  <svg>
    <text x="50%" y="50%" dy=".35em" text-anchor="middle">
      Farm FamilyHack

    </text>
  </svg>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

    <figure>
      <img
        src="/images/FIRST.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
      <figcaption> <small class="card-title"> P34s288</small></figcaption>
    </figure>

    <figure>
      <img
        src="/images/SEC.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
      <figcaption><small class="card-title"> P3s4s288</small></figcaption>
    </figure>

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/THID.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
      <figcaption><small class="card-title"> P378288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/34.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
      <figcaption><small class="card-title"> P3945288</small></figcaption>
    </figure>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/FIF.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />

      <figcaption><small class="card-title"> P22s288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/37.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />
      <figcaption><small class="card-title"> P3499888</small></figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <figure>

      <img
        src="/images/27.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
      <figcaption><small class="card-title"> P34788288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/EIGH.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />
      <figcaption><small class="card-title"> P309988</small></figcaption>
    </figure>

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/NINE.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />

      <figcaption><small class="card-title"> P34xx288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/31.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <figcaption><small class="card-title"> P3454288</small></figcaption>
    </figure>

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/ELE.webp"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />

      <figcaption><small class="card-title"> P378788</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/40.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />

      <figcaption><small class="card-title"> P34s2rfr88</small></figcaption>
    </figure>

  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/36.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

      <figcaption><small class="card-title"> P398288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/20.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

    </figure>

    <figure>

      <img
        src="/images/29.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape"
      />

    </figure>

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/23.jpeg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />

      <figcaption><small class="card-title"> P3098288</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/35.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />

    </figure>

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <figure>

      <img
        src="/images/42.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />

      <figcaption><small class="card-title"> P378788</small></figcaption>
    </figure>

    <figure>

      <img
        src="/images/43.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      />

    </figure>

  </div>

</div>