<div class="search-container">
    <h1>Search For The .....</h1>
    <form action="/artist-search", method="GET">
        <input type="text" name="artistQuery" id="query" placeholder="Search for an artist">
        <button>Find</button>
    </form>
</div>