<section class="order-form m-4">
  <div class="container pt-4">

    <div class="row">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/images/pngg.png" class="img-fluid" alt="Sample image" />
      </div>

      <div class="col-12 px-4">
        <h1>You can see my Order Form</h1>{{msg}}

        <hr class="mt-1" />
      </div>

      <div class="col-12">
        <form action="/some" method="POST">
          <fieldset>
            <legend>Personal Information</legend>
            <div class="row mx-4">
              <div class="col-12">
                <label class="order-form-label">Name</label>
              </div>
              <div class="col-sm-6">
                <div class="form-outline">
                  <input
                    type="text"
                    class="form-control order-form-input"
                    name="firstName"
                    id="firstName"
                  />
                  <label class="form-label" for="form1">First</label>
                </div>
              </div>
              <div class="col-sm-6 mt-2 mt-sm-0">
                <div class="form-outline">
                  <input
                    type="text"
                    class="form-control order-form-input"
                    name="lastName"
                    id="lastName"
                  />
                  <label class="form-label" for="form2">Last</label>
                </div>
              </div>
            </div>

            <div class="row mt-3 mx-4">
              <div class="col-12">
                <label class="order-form-label"> Valid Email Address</label>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input
                    type="email"
                    class="form-control order-form-input"
                    name="email"
                    id="email"
                  />
                </div>
              </div>
            </div>

            <div class="row mt-3 mx-4">
              <div class="col-12">
                <label class="order-form-label">Phone</label>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input
                    type="phone"
                    id="phone"
                    class="form-control order-form-input"
                    name="phone"
                  />
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend> Details</legend>
            <div class="row mt-3 mx-4">

              <div class="mb-3">

                <label for="formFile" class="order-form-label">Upload your
                  Recepie</label>
                <input
                  class="form-control"
                  type="file"
                  id="docreciep"
                  name="docreciep"
                />
              </div>

            </div>

            <div class="row mt-3 mx-4">
              <div class="col-12">
                <label class="order-form-label">Details to add</label>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input
                    type="text"
                    id="detail"
                    class="form-control order-form-input"
                    name="detail"
                  />
                  <label class="form-label" for="form5">More Info</label>
                </div>
              </div>
              <div class="col-12 mt-2">
                <div class="form-outline">
                  <input
                    type="text"
                    id="address"
                    class="form-control order-form-input"
                    name="address"
                  />
                  <label class="form-label" for="form6">Address</label>
                </div>
              </div>
              <div class="col-sm-6 mt-2 pe-sm-2">
                <div class="form-outline">
                  <input
                    type="text"
                    id="city"
                    class="form-control order-form-input"
                    name="city"
                  />
                  <label class="form-label" for="form7">City</label>
                </div>
              </div>
              <div class="col-sm-6 mt-2 ps-sm-0">
                <div class="form-outline">
                  <input
                    type="text"
                    id="region"
                    class="form-control order-form-input"
                    name="region"
                  />
                  <label class="form-label" for="form8">Region</label>
                </div>
              </div>
              <div class="col-sm-6 mt-2 pe-sm-2">
                <div class="form-outline">
                  <input
                    type="text"
                    id="postal"
                    class="form-control order-form-input"
                    name="postal"
                  />
                  <label class="form-label" for="form9">Postal / Zip Code</label>
                </div>
              </div>
              <div class="col-sm-6 mt-2 ps-sm-0">
                <div class="form-outline">
                  <input
                    type="text"
                    id="country"
                    class="form-control order-form-input"
                    name="country"
                  />
                  <label class="form-label" for="form10">Country</label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="row mt-3 mx-4">
            <div class="col-12">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="checkbox"
                  name="checkbox"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Im already a Member or
                  <a
                    href="../authViews/signUp"
                    style="color: rgb(181, 34, 34);text-weight:bold;"
                  >register here for Free</a>
                </label>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <button
                type="submit"
                id="submit"
                class="btn btn-primary d-block mx-auto btn-submit"
              >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div
  id="carouselExampleControls"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
          <img src="/images/44.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/39.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/41.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
          <img src="/images/38.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div><div class="card" style="width: 18rem;">
          <img src="/images/15.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/19.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
          <img src="/images/34.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/45.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/31.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>

          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="submit"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>